


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" style="color:red; font-weight: bold">TiendaOnline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " style="color:blue">
        <a class="nav-link" routerLink="/producto" routerLinkActive="active" >Gestionar Productos </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/ingreso" routerLinkActive="active">Ingreso de Productos </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/stock" routerLinkActive="active">Stock </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/compras-realizadas" routerLinkActive="active">Ver Compras</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="form-control mr-sm-2" routerLink="singin">SingIn</a>
      <a class="form-control mr-sm-2" routerLink="singout">SingOut</a>
    </form>
  </div>
</nav>
